@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
* {
    height: 100vh;
    width: 100vh;
}
body {
    font-family: "Readex Pro", sans-serif;
}
.CONTAINER div:nth-child(1) {
    width: 321px;
    height: 165px;
}
.CONTAINER div:nth-child(2) {
    font-size: 27px;
    font-weight: 500;
}
.CONTAINER div:nth-child(3) {
    font-size: 16px;
    font-family: 300;
}
.CONTAINER div:nth-child(4) {
    width: 561px;
    height: 311.05px;
}
.CONTAINER div:nth-child(5) {
    width: 155.58px;
    height: 154.49px;
    
}
@media (max-width: 430px) {

}